@{
    ViewData["Title"] = "Home Page";
}

@using student;

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<div>
    @{ 
        List<Student> students = (List<Student>)ViewData["stu"];
            <ul>
                @foreach (Student stu in students)
                {
                    <li>@stu.rollno, @stu.name, @stu.marks</li>
                }
            </ul>
    }
</div>