<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>
</head>
<body>
    <div id="div1">
    <table>
        <tr>
            <th></th>
            <th>NAME</th>
            <th>AGE</th>
            <th>PHONE NUMBER</th>
            <th>EMAIL</th>
        </tr>
        <tr>
            <th> 1 </th>
            <th>Ajay</th>
            <th>25</th>
            <th>8197355273</th>
            <th>mehoo@gmail.com</th>
        </tr>
        <tr>
            <th> 2 </th>
            <th>Monty</th>
            <th>16</th>
            <th>8392764521</th>
            <th>firsehu@gmail.com</th>
        </tr><tr>
            <th> 3 </th>
            <th>Ajju</th>
            <th>10</th>
            <th>9083526483</th>
            <th>kyupooche@gmail.com</th>
        </tr>
    </table>
    </div>
</body>
</html>